/Progra/SegundoProyectoAnálisis/nbproject/private/
/Progra/SegundoProyectoAnálisis/build/
/Progra/Paralelismo/nbproject/private/
/Progra/Paralelismo/build/
/Progra/Hash/nbproject/private/
/Progra/Hash/build/
/Progra/ConectarSQL/nbproject/private/
/Progra/ConectarSQL/build/